<h1>Dogs!</h1>

<h2>What breed of dog do you have and what is his name?</h2>

<h3>Breed: <%= @dog.breed %></h3>
<h3>Name: <%= @dog.name %></h3>

<%= link_to 'Add Your Dog', new_static_page_path %>